{% extends 'base.html' %}

{%block content%}
<div class="row" style="width: 100%">
	<div style="margin: auto;"><h1 style="font-size: 400%">Ops... :(</h1></div>
</div>
<div class="jumbotron container" style="margin: auto;margin-top: 8em;background-color: #eeeeee;">
	<h6 class="row justify-content-center">What you find seem currently unavaliable on the server</h6>
	<h6 class="row justify-content-center">Maybe Try to come back later or go to Home page?</h6>
	<div class="row justify-content-center"><button class="btn btn-info" onclick="window.location.href = '{{url}}'">Home</button></div>
</div>
{%endblock%}